  <form [formGroup]="editPlatForm" class="normal-form" #formDirective="ngForm" (ngSubmit)="confirm_Edit_Dialog()">
  <app-spinner *ngIf = "isDataLoading('edit-loading')"></app-spinner>
  <mat-grid-list cols="3" rowHeight="380px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-card [ngStyle]="{'max-width.px': 230 }">
          <img mat-card-image src = "{{plat.imagen || '../../../../assets/photo-to-load.svg'}}" async>
        </mat-card>
        <mat-card-actions align="end">
          <mat-checkbox #check_dashboard
            formControlName="dashboard" [ngStyle]="{'margin-top.px': 10}">
            <!-- (click)="confirmToDashBoard()"> -->
            Dashboard
          </mat-checkbox> 
          <button mat-raised-button color="primary" type="button" [ngStyle]="{'margin-right.px': 10}"
            [disabled]="editPlatForm.invalid || subIsUploadingPhoto"
            (click)="fileInput.click()">
            <mat-icon>camera_enhance</mat-icon>
          </button>
          <input type="file" #fileInput accept='image/*' (change)="selectFile($event)"
            multiple style="display:none;"/>
        </mat-card-actions>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="desc_corta" matInput placeholder="Desc. Corta*">
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="desc_larga" matInput placeholder="Desc. Larga*">
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="acompanamiento" matInput placeholder="Acompañamiento">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="guarnicion" matInput placeholder="Guarnicion">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Ingredientes" formControlName="ingredientes"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-select #matSelectTiempoAlimento placeholder="Tiempo Alimento"
          [value]="plat.tiempo_alimento"
          [compareWith]="compareFuncTiempoAlimento">
            <mat-option *ngFor="let tiempo of tiempo_alimento"
              [value]="tiempo">
                {{tiempo.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>          
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
          <mat-form-field>
              <mat-select #matSelectCatego placeholder="Categoria" 
                  [compareWith] = "compareFuncCategory"
                  [value] = "plat.id_categoria">
                  <mat-option *ngFor = "let cat of categories"
                    [value] = "cat" >
                    {{cat.categoria}}                    
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <input type = "text" matInput number-input-directive placeholder="Costo" formControlName="costo">            
          </mat-form-field>
          <mat-form-field>
            <input matInput 
                number-input-directive
                placeholder="Precio*" 
                formControlName="precio"
                type="text"
                [errorStateMatcher]="matcher">                      
                <mat-error *ngIf="precio.hasError('required')">
                    Campo requerido
                </mat-error>                            
          </mat-form-field>
          <mat-form-field>
            <mat-select #matSelect placeholder="Status*"
                [compareWith]= "compareFuncStatus"
                [value] = "plat.status"> 
                <mat-option *ngFor="let stats of status"
                    [value]="stats">
                    {{stats.viewValue}}
                </mat-option>
            </mat-select>
          </mat-form-field>                
          <mat-form-field>
            <input matInput type = "time"
                placeholder="Tiempo preparacion" 
                formControlName="tiempo_prep">                          
          </mat-form-field>
          <div class="space-buttons">
            <button mat-icon-button color="primary" type="submit"
                [disabled]="editPlatForm.invalid || isDataLoading('edit_loading')">
                Guardar <mat-icon>save</mat-icon>
            </button>                                
            <button mat-icon-button color="accent" mat-dialog-close 
                [disabled]="isDataLoading('edit_loading')">
                Salir <mat-icon>exit_to_app</mat-icon>
            </button>
          </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form> 
