<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <mat-card-header>
            <mat-card-title [ngStyle]="{'color': 'blue'}"> 
                Operacion 
            </mat-card-title>            
            <mat-card-subtitle> 
                CorteZ: 1. Estado: Abierto
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider><br>            
        <mat-card-content>
            Fecha Inicio: 26/02/2021  <br>            
            Fecha Final: 26/02/2021
        </mat-card-content>        
    </mat-card>
    <mat-card fxFlex="25">
        <mat-card-header>
            <mat-card-title [ngStyle]="{'color': 'purple'}"> 
                Comandas en Local 
            </mat-card-title>
            <mat-card-subtitle>
                Total: 0 
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider><br>            
        <mat-card-content>
            Solicitadas: 0  <br>            
            Despachadas: 0
        </mat-card-content>                    
    </mat-card>
    <mat-card fxFlex="25">
        <mat-card-header>
            <mat-card-title [ngStyle]="{'color': 'green'}"> 
                Bot de Telegram 
            </mat-card-title>            
            <mat-card-subtitle> 
                Pedidos 
            </mat-card-subtitle>
        </mat-card-header>        
        <mat-divider></mat-divider><br>            
        <mat-card-content>
            <mat-card-content>
                Solicitados: 0  <br>            
                Entregados: 0
            </mat-card-content>                    
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="25">
        <mat-card-header>
            <mat-card-title [ngStyle]="{'color': 'orange'}"> 
                Configuracion
            </mat-card-title>            
            <mat-card-subtitle> 
                Proyecto: Predeterminado
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider><br>            
        <mat-card-content>
            # Mesas: 1 <br>
            # Meseros: 1 <br>
        </mat-card-content>
    </mat-card>
</div>
